---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Este site foi descontinuado</h1>
			<p>O domínio <strong>Investimento na Bolsa</strong> não está mais vinculado a outro site ou plataforma.</p>
    <p>O conteúdo anterior foi removido e este domínio segue independente.</p>
    <p>Obrigado pela visita.</p>
		</main>
		<Footer />
	</body>
</html>
